.about {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--purple-color);
  width: 100%;
  height: 100vh;
  user-select: none;
  color: var(--white-color);
  text-shadow: 2px 2px 4px gray;
}

.about_chain {
  position: absolute;
  left: 0;
  top: 20em;
  width: 100%;
}

.about_title {
  text-align: center;
  margin: 4em 0 1em;
  font-size: 3em;
}

.about_details {
  font-size: 2em;
  padding: 2.5em;
}

.about_details li {
  margin-top: 0.7em;
}

.about_details p {
  color: var(--pink-color);
}

.about_details a {
  color: var(--pink-color);
  box-shadow: inset 0 0 0 0 var(--pink-color);
  transition: color 400ms ease-in-out, box-shadow 400ms ease-in-out;
}
.about_details a:hover {
  color: var(--purple-color);
  box-shadow: inset 10em 0 0 0 var(--pink-color);
}

.about_details span {
  padding-right: 0.5em;
}

.about_skills {
  display: flex;
  flex-wrap: wrap;
}

.about_profile {
  position: absolute;
  top: 20em;
  left: 85em;
  transform: scale(0.8);
}

.about_sunglasses {
  position: absolute;
  top: 17em;
  left: 72em;
  transform: scale(0.25);
}

.about_email {
  padding: 0 0 0.1em;
}

.about_email:hover {
  cursor: pointer;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .about {
    justify-content: center;
    align-items: flex-start;
  }
  .about_chain {
    top: 46em;
  }
  .about_title {
    margin: 1.5em 2em 2em;
    font-size: 2.5rem;
  }

  .about_details {
    font-size: 1.7em;
    padding: 0 2.5em 3em;
  }

  .about_profile {
    transform: scale(0.6);
    left: 25em;
    top: 31em;
  }

  .about_sunglasses {
    left: 11.5em;
    top: 29em;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .about_title {
    font-size: 2.2em;
    margin: 7em 0 1em;
  }

  .about_details {
    font-size: 1.5em;
    padding: 0 2.5em 3em;
  }

  .about_profile {
    transform: scale(0.6);
    left: 5em;
    top: 25.5em;
  }

  .about_sunglasses {
    left: -8.5em;
    top: 23em;
  }
}
