.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #377d71;
  width: 100%;
  height: 100vh;
  color: #fba1a1;
}

.title {
  min-width: 12rem;
  height: 4.5rem;
  margin: 3rem;
  border: solid 3px;
  border-radius: 50%;
  text-align: center;
  line-height: 4.5rem;
}

.menu {
  min-width: 40rem;
  margin: 1em;
  align-self: center;
  font-size: 6rem;
  font-weight: bold;
}

.menu li {
  margin: 0.7em;
}
