.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #377d71;
  background-size: cover;
}

.background_img {
  position: absolute;
  top: 0;
  left: 33%;
  height: 100%;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  color: #fba1a1;
}

.home_view {
  display: flex;
  flex-direction: column;
}

.home_title {
  width: 12rem;
  height: 4.5rem;
  margin: 2rem;
  border: solid 3px;
  border-radius: 50%;
  text-align: center;
  line-height: 4.5rem;
  user-select: none;
}

.home_menu {
  width: 45rem;
  margin: 1em;
  align-self: center;
  font-size: 6rem;
  font-weight: bold;
  user-select: none;
}

.home_menu li {
  margin: 0.7em;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .home_title {
    height: 3rem;
    margin: 1.5rem 1.5rem 0 0;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 3rem;
  }

  .home_menu {
    width: 38rem;
    margin: 0rem 0 0 1rem;
    padding-top: 4rem;
    font-size: 5.3rem;
    text-shadow: 2px 2px 4px gray;
  }

  .home_menu li {
    padding-left: 2.3rem;
    margin: 0 0 2.5rem;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .background_img {
    left: 0;
  }

  .home {
    flex-direction: column;
    align-items: flex-end;
    text-shadow: 2px 2px 4px gray;
  }

  .home_title {
    width: 7em;
    height: 3rem;
    margin: 1.5rem;
    border: solid 2px;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 3rem;
    /* text-shadow: 2px 2px 4px gray; */
  }

  .home_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 30rem;
    padding: 0;
    margin-bottom: 2em;
    font-size: 3.8rem;
  }

  .home_menu li {
    width: 30rem;
    text-align: center;
    /* width: 100vw; */
    /* margin: 1em; */
    margin-top: 0;
  }
}
