.portfolio {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--beige-color);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background_chain {
  position: fixed;
  left: 0rem;
  top: -40%;
  width: 100%;
  /* opacity: 0.2; */
  filter: brightness(1.5);
}

.portfolio::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.projects_index {
  position: fixed;
  right: 10%;
  top: 40%;
  display: flex;
  flex-direction: column;
}
.projects_index span {
  padding: 1rem;
  font-size: 1.8rem;
}

.current_index {
  color: var(--green-color);
}

.other_index {
  color: var(--pink-color);
}

.project_container {
  height: 100%;
  padding: 7rem 10%;
}

.project {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 7rem 10% 3rem 15%;
}

.project img {
  width: 80%;
  border-radius: 10px;
}
.project img:hover {
  transform: scale(1.03);
  transition: transform 0.4s ease-in-out;
}

.project_info {
  padding: 2.5em 1.2em 0;
  height: 100%;
}

.project_title {
  display: flex;
  align-items: center;
}

.project_title a {
  margin-left: 0.2em;
  font-size: 2em;
}

.project_info h3 {
  font-size: 2em;
  user-select: none;
}
.project_info ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  user-select: none;
}
.project_info li {
  padding-right: 0.8em;
  color: var(--green-color);
  font-weight: bold;
}
.project_info p {
  font-size: 1em;
  user-select: none;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .projects_index span {
    font-size: 1.5rem;
  }
  .project_container {
    height: 100%;
    padding: 5% 10%;
  }

  .project img {
    width: 50%;
  }

  .project_title a {
    font-size: 1.4em;
  }

  .project_info h3 {
    font-size: 1em;
  }
  .project_info p {
    padding-top: 1rem;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .projects_index span {
    font-size: 1.5rem;
  }

  .project_container {
    text-align: center;
    padding: 7rem 20% 7rem 0;
  }
  .project_title {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .project_title a {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .project_info {
    padding: 0;
  }

  .project_info ul {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  .project_info h3 {
    font-size: 1.2rem;
  }
  .project_info p {
    padding-top: 1rem;
  }
}
