body {
  overflow: hidden;
}

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}
/* .route-section.fade-enter-done {
  position: relative;
} */

/* .wrapper {
  transition: all 0.5s ease-in-out;
}

.home {
  background-color: var(--green-color);
  color: var(--pink-color);
}

.portfolio {
  background-color: var(--light-pink-color);
  color: black;
}

.about_me {
  background-color: var(--purple-color);
  color: black;
} */

/* Fade */
.fade {
  position: absolute;
  transition: all 1s ease-in-out;
}
.fade-enter {
  position: absolute;
  opacity: 0.7;
}
.fade-enter-active {
  opacity: 1;
  /* transform: translate3d(100%, 0, 0); */
  transition: opacity 500ms, transform 3s;
}
.fade-exit {
  position: absolute;
  opacity: 1;
}
.fade-exit-active {
  position: absolute;
  opacity: 0.7;
  /* transform: translate3d(-100%, 0, 0); */
  transition: opacity 700ms, transform 3s;
}

.slide-appear,
.slide-enter {
  z-index: 1;
  opacity: 0.9;
  /* transform: scale(1.1); */
  transform: translate3d(100%, 0, 0);
}
.slide-appear-active,
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 500ms;
}
.slide-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slide-exit.slide-exit-active {
  opacity: 0.9;
  transition: all 700ms;
}

/* Slider */

.page-slider {
  position: absolute;
  transition: all 1s ease-in-out;
}
.page-slider-enter {
  position: absolute;
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.page-slider-enter-active {
  position: absolute;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 800ms ease-in-out;
}
.page-slider-exit {
  position: absolute;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.page-slider-exit-active {
  position: absolute;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: all 800ms ease-in-out;
}
